/* cat.css */
body {
    background-color: #4B0000; /* dunkelrot */
    color: #FFFFFF; /* weiß */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF6666; /* hellrot */
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-top: 1em;
}

a:hover {
    background-color: #FF3333;
    color: #FFFFFF;
}